.started-button {

    margin: 10% auto;
    width: 40%;
    padding: 0.5rem 1rem;
    background-color: rgb(163, 23, 163);
    color: white;
    border-style: none;
    border-radius: 0.5rem;
    transition: 1s;
}

.started-button:hover {
    cursor: pointer;
    transition: 1s;
    background-color: rgba(163, 23, 163, 0.9);
}

.start-container {
    display: flex;
    flex-direction: column;
}

.home-section {
    background-color: white;
}

.description-container {
    width: 100%;
    text-align: left;
    text-indent: 25px;
    margin-left: 1rem
}

.description {
    color: white;
    margin: 1rem 0;
    text-align: left;
    text-indent: 10px; 
}

.multi-word-input-container {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
  }
  
.multi-word-input {
    background-color: white;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Prevent textarea from being resized by the user */
     overflow-y: auto; 
    overflow-wrap: break-word;
}




